@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@import './brand.css';

button {
	cursor: pointer;
}

@layer components {
	.btn {
		border-radius: var(--radius-md);
		padding-inline: --spacing(2);
		padding-block: --spacing(2);
		font-size: var(--text-base);
		line-height: var(--text-base--line-height);
		font-weight: var(--font-weight-medium);
		cursor: pointer;
		border: 2px solid;
	}

	.badge {
		display: inline-flex;
		align-items: center;
		border-radius: var(--radius-md);
		padding-inline: calc(var(--spacing) * 2);
		padding-block: calc(var(--spacing) * 1);
		font-size: var(--text-xs); /* 0.75rem (12px) */
		font-weight: 500;
		--tw-ring-inset: inset;
		--tw-inset-ring-shadow: inset 0 0 0 1px;
		--tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(1px + var(--tw-ring-offset-width))
			var(--tw-ring-color, currentcolor);
		box-shadow:
			var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow),
			var(--tw-ring-shadow), var(--tw-shadow);
		/* inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-gray-500/10 ring-inset */
	}

	.badge--gray {
		background-color: var(--color-gray-50);
		--tw-ring-color: color-mix(in oklab, var(--color-gray-500) 10%, transparent);
		color: var(--color-gray-600);
	}

	.btn-small {
		padding-block: --spacing(1);
		font-size: var(--text-sm);
		line-height: var(--text-sm--line-height);
	}

	.btn-tiny {
		padding-block: --spacing(1);
		font-size: var(--text-xs);
		line-height: var(--text-xs--line-height);
	}

	.btn-custom {
		background-color: var(--color-custom);
		&:hover {
			@media (hover: hover) {
				background-color: var(--color-custom);
			}
		}
	}
}

body {
	font-family: var(--font-paragraph);
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	background-color: var(--color-background);
	color: var(--color-secondary-700);
}

.blurry-container {
	background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
	backdrop-filter: blur(8px); /* Apply blur to the background behind this element */
	-webkit-backdrop-filter: blur(8px); /* For Webkit-based browsers */
	padding: 20px;
	border-radius: 10px;
}
