@theme {
	/* Surfaces */
	--color-background: #fdfaf9;
	--color-surface-50: #ffffff;
	--color-surface-100: #ffffff;
	--color-surface-200: #ffffff;
	--color-surface-300: #fffefc;
	--color-surface-400: #fcfbfa;
	--color-surface-500: #fdfaf9;
	/* Accent */
	--color-accent: #00bfa6;
	--color-accent-100: #e1faf8;
	--color-accent-200: #b4f0eb;
	--color-accent-300: #8ae6dc;
	--color-accent-400: #3fd4c2;
	--color-accent-500: #00bfa6;
	--color-accent-600: #00ad8e;
	--color-accent-700: #008f6d;
	--color-accent-800: #007350;
	--color-accent-900: #005737;
	--color-accent-950: #003820;
	/* Secondary */
	--color-secondary: #113a5d;
	--color-secondary-50: #edf5f7;
	--color-secondary-100: #ddebf0;
	--color-secondary-200: #abc9d6;
	--color-secondary-300: #7ea8bd;
	--color-secondary-400: #3c6c8c;
	--color-secondary-500: #113a5d;
	--color-secondary-600: #0d2f52;
	--color-secondary-700: #092545;
	--color-secondary-800: #061c38;
	--color-secondary-900: #031229;
	--color-secondary-950: #010a1a;
	/* Primary */
	--color-primary: #ff7a8a;
	--color-primary-50: #fff7fb;
	--color-primary-100: #fff2f9;
	--color-primary-200: #ffdeed;
	--color-primary-300: #ffc9de;
	--color-primary-400: #ffa3ba;
	--color-primary-500: #ff7a8a;
	--color-primary-600: #e66372;
	--color-primary-700: #bf4551;
	--color-primary-800: #992c37;
	--color-primary-900: #731921;
	--color-primary-950: #4a0a10;

	/* Warning */
	--color-warning-50: #fcfbf0;
	--color-warning-100: #faf7e1;
	--color-warning-200: #f2e9b6;
	--color-warning-300: #ebdb8d;
	--color-warning-400: #debc43;
	--color-warning-500: #ce9a00;
	--color-warning-600: #ba8500;
	--color-warning-700: #9c6500;
	--color-warning-800: #7d4b00;
	--color-warning-900: #5c3200;
	--color-warning-950: #3b1c00;
	/* Error */
	--color-error-50: #fcf2f8;
	--color-error-100: #f7e4ed;
	--color-error-200: #edbbd1;
	--color-error-300: #e398b4;
	--color-error-400: #cf5773;
	--color-error-500: #b9202f;
	--color-error-600: #a81928;
	--color-error-700: #8c121c;
	--color-error-800: #700b14;
	--color-error-900: #54070c;
	--color-error-950: #360306;
	/* Success */
	--color-success-50: #edf7f3;
	--color-success-100: #dff2ea;
	--color-success-200: #b4dec9;
	--color-success-300: #8dc9a9;
	--color-success-400: #4da36b;
	--color-success-500: #1d7a32;
	--color-success-600: #186e2b;
	--color-success-700: #115c20;
	--color-success-800: #0a4a16;
	--color-success-900: #06380e;
	--color-success-950: #022407;
	/* Info */
	--color-info-50: #f0f9fa;
	--color-info-100: #dcf1f2;
	--color-info-200: #afdce0;
	--color-info-300: #86c7cf;
	--color-info-400: #439fab;
	--color-info-500: #117686;
	--color-info-600: #0f677a;
	--color-info-700: #0a4f66;
	--color-info-800: #073b52;
	--color-info-900: #04283d;
	--color-info-950: #021626;
	/* Disabled */
	--color-disabled-50: #f5f7f7;
	--color-disabled-100: #edeff0;
	--color-disabled-200: #d0d4d6;
	--color-disabled-300: #b4bbbf;
	--color-disabled-400: #81898f;
	--color-disabled-500: #52595f;
	--color-disabled-600: #414a54;
	--color-disabled-700: #2e3a47;
	--color-disabled-800: #1d2938;
	--color-disabled-900: #111b2b;
	--color-disabled-950: #070e1c;

	/* Pastel Purple */
	--color-pastel-purple-50: #fefcff;
	--color-pastel-purple-100: #fefcff;
	--color-pastel-purple-200: #faf5fc;
	--color-pastel-purple-300: #f9f2fc;
	--color-pastel-purple-400: #f2e6fa;
	--color-pastel-purple-500: #eadcf8;
	--color-pastel-purple-600: #c7b1de;
	--color-pastel-purple-700: #977dba;
	--color-pastel-purple-800: #6a4e94;
	--color-pastel-purple-900: #462d70;
	--color-pastel-purple-950: #231347;
	/* Pastel Green */
	--color-pastel-green-50: #fcfffe;
	--color-pastel-green-100: #fcfffe;
	--color-pastel-green-200: #f7fffa;
	--color-pastel-green-300: #edfcf2;
	--color-pastel-green-400: #e3fce7;
	--color-pastel-green-500: #d7f9d7;
	--color-pastel-green-600: #ade0ad;
	--color-pastel-green-700: #77ba77;
	--color-pastel-green-800: #4e964e;
	--color-pastel-green-900: #2c702c;
	--color-pastel-green-950: #124712;
	/* Pastel Blue */
	--color-pastel-blue-50: #fcffff;
	--color-pastel-blue-100: #fcffff;
	--color-pastel-blue-200: #f5fbfc;
	--color-pastel-blue-300: #ebf7fa;
	--color-pastel-blue-400: #dff1f7;
	--color-pastel-blue-500: #d0e8f2;
	--color-pastel-blue-600: #a9cadb;
	--color-pastel-blue-700: #749cb5;
	--color-pastel-blue-800: #4c7391;
	--color-pastel-blue-900: #2b4c6e;
	--color-pastel-blue-950: #122a47;
	/* Pastel Pink */
	--color-pastel-pink-50: #fffcfe;
	--color-pastel-pink-100: #fffcfe;
	--color-pastel-pink-200: #fff7fb;
	--color-pastel-pink-300: #fcf0f4;
	--color-pastel-pink-400: #fce6eb;
	--color-pastel-pink-500: #fadadd;
	--color-pastel-pink-600: #e0afb4;
	--color-pastel-pink-700: #ba797e;
	--color-pastel-pink-800: #964e54;
	--color-pastel-pink-900: #702c30;
	--color-pastel-pink-950: #471215;
	/* Pastel Orange */
	--color-pastel-orange-50: #fffffc;
	--color-pastel-orange-100: #fffdf7;
	--color-pastel-orange-200: #fffbed;
	--color-pastel-orange-300: #fff7e0;
	--color-pastel-orange-400: #fff0cc;
	--color-pastel-orange-500: #ffe5b4;
	--color-pastel-orange-600: #e6c693;
	--color-pastel-orange-700: #bf9865;
	--color-pastel-orange-800: #996f42;
	--color-pastel-orange-900: #734925;
	--color-pastel-orange-950: #4a2810;
	/* Pastel Red */
	--color-pastel-red-50: #fcfaf7;
	--color-pastel-red-100: #fcf6f0;
	--color-pastel-red-200: #f5e3d7;
	--color-pastel-red-300: #f0cec0;
	--color-pastel-red-400: #e6a195;
	--color-pastel-red-500: #da6c6c;
	--color-pastel-red-600: #c45858;
	--color-pastel-red-700: #a33c3c;
	--color-pastel-red-800: #822727;
	--color-pastel-red-900: #611515;
	--color-pastel-red-950: #400909;

	--font-title: 'Libre Baskerville', serif;

	--font-paragraph: 'Josefin Sans', sans-serif;

	/* Font Sizing */
	--text-1: 3.05em;
	--text-2: 2.44em;
	--text-3: 1.95em;
	--text-4: 1.56em;
	--text-5: 1.25em;
	--text-base: 1em;
	--text-caption: 0.8em;
	--text-small-print: 0.64em;
}
